<div class="container-1  scroll-hidden" #colunaMetadeRef>

  <div class="title-section">
    <p>sobre nós</p>
  </div>

  <div class="container-main">

    <div class="container-slogan">

      <div class="slogan">
        <h1>Seu projeto, nossa força!</h1>
      </div>

      <div class="description-slogan">
        <p>Nosso propósito vai além de erguer estruturas; buscamos criar empreendimentos que integrem inovação e
          práticas de sustentabilidade. Trabalhamos com transparência e foco na geração de valor, entregando soluções
          que respeitam o meio ambiente e superam as expectativas do setor.</p>
      </div>

      <a>
        <button routerLink="/servicos" class="btn-explore">
          Nossos serviços
        </button>
      </a>

    </div>

    <div class="container-img">

      <div class="img-slogan">
        <img src="/assets/img/sobre/aboutus-house.png" alt="Imagem ilustrativa de uma casa">
      </div>

    </div>

  </div>

</div>

<div class="container-2 scroll-hidden" #colunaMetadeRef2>

  <div class="divisory">
    <button class="btn-divisory"><a [routerLink]="[]" fragment="historia">Nossa História</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="missao">Nossa Missão</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="visao">Nossa Visão</a></button>
    <button class="btn-divisory"><a [routerLink]="[]" fragment="valores">Nossos Valores</a></button>
  </div>


  <div class="text-section">

    <div class="text-historia scroll-hidden" #colunaMetadeRef3 id="historia">
      <h2 class="title-h2">Nossa História</h2>
      <p>A RR nasceu de uma percepção clara de mercado: a necessidade de oferecer mais do que apenas construção, mas sim
        um suporte técnico completo e responsável. Em um cenário onde a documentação e a responsabilidade técnica
        tornaram-se pilares essenciais, surgimos para garantir que cada projeto estivesse amparado pelo rigor das normas
        e pela segurança da engenharia.
        <br><br>
        À frente dessa visão está Ricardo, cuja liderança e expertise técnica consolidaram a base da nossa identidade.
        Desde o início, o foco não foi apenas erguer estruturas, mas entender profundamente a viabilidade de cada sonho
        e orientar nossos clientes sobre os melhores caminhos, transformando desafios em pontos positivos.
        <br><br>
        Hoje, o que somos é fruto de um empenho incansável e de uma dedicação absoluta às necessidades de quem confia em
        nosso trabalho. Essa base sólida nos permitiu dar um novo passo: a expansão. O que começou com projetos locais
        hoje ganha força no interior de São Paulo, com o olhar atento e estratégico voltado para outros estados do
        Brasil.
        <br><br>
        Atuamos em diversas frentes — desde o acolhimento de projetos residenciais e reformas, até a complexidade de
        condomínios e grandes empresas. E, marcando um novo capítulo de maturidade institucional, estamos agora
        ingressando com força total em projetos para prefeituras e órgãos estaduais, levando nossa excelência e
        compromisso ético para o setor público.</p>
    </div>

    <div class="sobre-escritorio">
      <img src="/assets/img/sobre/escritorio.jpg" alt="Foto do escritório da RR Construções">
    </div>

    <div class="text-missao scroll-hidden" #colunaMetadeRef4 id="missao">
      <h2 class="title-h2">Nossa Missão</h2>
      <p>
        Executar projetos de construção civil com o mais rigoroso padrão de qualidade, segurança e responsabilidade
        social. Nosso propósito é entregar empreendimentos que não apenas atendam, mas superem as expectativas de nossos
        clientes, contribuindo ativamente para o desenvolvimento sustentável do ambiente urbano e a elevação da
        qualidade de vida da comunidade.
      </p>
    </div>

    <div class="text-visao scroll-hidden" #colunaMetadeRef5 id="visao">
      <h2 class="title-h2">Nossa Visão</h2>
      <p>
        Alcançar e manter o reconhecimento de mercado como a principal referência do setor da construção civil. Nossa
        visão é ser sinônimo de excelência operacional, capacidade de inovação e a integração de práticas de
        sustentabilidade em cada empreendimento. Buscamos a expansão contínua e estratégica de nossa atuação, garantindo
        que todo o crescimento seja fundamentado em princípios éticos inegociáveis e no compromisso com a geração de
        valor de longo prazo para nossos clientes.
      </p>
    </div>

    <div class="text-valores scroll-hidden" #colunaMetadeRef6 id="valores">
      <h2 class="title-h2">Nossos Valores</h2>
      <p>Na base das nossas operações está o <strong>Compromisso e Rigor</strong>, que nos exige cumprir com exatidão os
        prazos e
        orçamentos estabelecidos, gerenciando as expectativas com total responsabilidade e seriedade.</p>
      <br>
      <p>Busca incessante pela <strong>Excelência Técnica</strong>, asseguramos o mais alto padrão de qualidade em todas
        as etapas da
        execução, com o objetivo de entregar resultados que superem as especificações e as expectativas dos clientes.
      </p>
      <br>
      <p>Impulsionados pela <strong>Inovação Constante</strong>, aplicamos tecnologias de ponta e métodos construtivos
        modernos para
        desenvolver soluções mais eficientes, duradouras e competitivas.</p>
      <br>
      <p>Nossa prioridade máxima é a <strong>Segurança em Primeiro Plano</strong>, garantindo a integridade física de
        colaboradores,
        parceiros e clientes, e o respeito ao meio ambiente, com rigorosos protocolos de Saúde, Segurança e Meio
        Ambiente (SSMA).</p>
      <br>
      <p>Demonstramos <strong>Responsabilidade Ambiental</strong> por meio da adoção de práticas sustentáveis que visam
        a minimização de
        impactos e o uso eficiente de recursos.</p>
      <br>
      <p>A <strong>Ética e Transparência</strong> são inegociáveis, conduzindo todas as nossas operações e relações
        comerciais com máxima
        integridade e respeito inabalável.</p>
      <br>
      <p>Finalmente, através do <strong>Desenvolvimento Humano</strong>, investimos continuamente no bem-estar,
        capacitação e crescimento
        profissional de nossos colaboradores, reconhecendo-os como ativos essenciais para o nosso sucesso.</p>
    </div>

  </div>

</div>